.estilo1 {
    width: 424px;
    height: 73px;
}
.estilo2 {
    height: 14px;
}
.estilo3 {
    width: 424px;
    height: 14px;
}
.estilo4{
    height: 105px;
}
.estilo5 {
    width: 424px;
    height: 105px;
}
.estilo6 {
    height: 86px;
}
.estilo7 {
    height: 50px;
}
.estilo8 {
    width: 424px;
    height: 50px;
}
.estilo9 {
    height: 73px;
}