{% extends "main.html" %}

{% block content %}

<script>
function busquedaAJAX(){
  $('#loadingmessage').show();
  $.ajax("/pregunta/busqueda",
    {"type": "post",
    "data":{"buscar":$("#busqueda").val()},
    "success": function(result) { $("#preguntas").html(result);$('#loadingmessage').hide();},
    "error": function(result){ console.error("Se ha producido un error:", result);},
    "async": true })}
</script>

<div class="container">
    <div class="section ">
        <div class="row">
            <div class="input-field col s12 m5">
              <form method="post">
              <div>
                  <i class="material-icons prefix">search</i>
                  <input type="text" name="busqueda" id="busqueda" Placeholder="Escribe el tema" onkeyup="busquedaAJAX()"><br>
              </div>
              </form>
            </div>
        </div>
      
        <!--   Icon Section   -->
        <div id='loadingmessage' style='display:none;'>
          <div class="progress" style="height:20px">
            <div class="indeterminate"></div>
            </div>
        </div>
        
        <div id="preguntas">{% block preguntas %} {% endblock %}</div>

    </div>
    <br><br>
</div>

{% endblock %}