{% extends "main.html" %}

{% block content %}
	
	<div class="row">
      	<div class="col s3 " style="text-align: center;">
			<h4>BIENVENIDO A QUIZ!!</h4>
			<img src="/images/bienve-puzzle.png"/> 
	 	</div>
	 	<div class="col s5 "> 
	 	</div>
		<div class="col s8 ">
			<form id="jugar" method="post">
				<div class="header">
					<h3> JUGAR </h3>
				</div>
				{{login}}
				{{rol}}

				<div class="sep"> </div>
				<div class="inputs">
					<p> Introduce un nick para jugar:</p> 
					<input type="text" required name="nick" size="15" value="%(nick)s" autofocus="" placeholder="Tu nick..." /> 
					<p class="error"> {{nick_error}} </p>
					<p> <input id="submit" value="EMPEZAR" type="submit" /> </p>
				</div>
			</form>
		</div>
	</div>

{% endblock %}