  {% extends "main.html" %}

  {% block content %}

  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 z-depth-1" id="panell">
            <h4 id="title">Iniciar Sesión</h4>
              <form action="/iniciosesion" method="post">
                <div class="input-field" id="username">
                 <i class="material-icons prefix">account_circle</i>
                 <input  type="text" class="validate" name="username" value="%(username)s">
                  <label for="username">Nick de usuario</label>
                  <div style="color:#FF0000;"> %(username_error)s </div>
                </div>
                <div class="input-field" id="password">
                 <i class="material-icons prefix">lock_outline</i>
                  <input  type="password" class="validate" name="passusuario" value="%(passusuario)s">
                  <label for="password">Password</label>
                  <div style="color:#FF0000;">%(password_error)s</div>
                </div>
                <p>
                  <input class="waves-effect waves-light btn" type="submit" value="Iniciar Sesion" style="float: right;">
                <br>
                </p>
                <a href="/registro">Registrate</a></td>
              </form>
            <br>
          <br>
      </div>
    </div>
  </div>
  
{% endblock %}
