{% extends "main.html" %}

  {% block content %}
<style>
  label{ font-size: 17px; }
</style>
 <!-- Page Layout here -->
    <div class="row">
      <div class="col s2 ">
        <!-- Grey navigation panel -->
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          {% if login == 'no' %}
          <li><a href="/iniciosesion">Iniciar Sesión</a></li>
          <li><a href="/registro">Registro</a></li>
          {% else %}
            {% if rol == 'Anonimo' or rol == 'Usuario' or rol == 'Admin'%}
              <li><a href="/pregunta/busqueda">Buscar pregunta</a></li>
              <li><a href="/pregunta/visualizarpreguntas">Ver todas las preguntas</a></li>
              {% else %}

            {% endif %}
          <!--<li><a href="/pregunta/busqueda">Buscar pregunta</a></li>
          <li><a href="/pregunta/visualizarpreguntas">Ver todas las preguntas</a></li>-->

          {% endif %}
          <div id="preguntas">{% block preguntas %} {% endblock %}</div>
      </ul>
      </div>
      <div class="col s1">
      </div>
      <div class="col s6 ">
        <!-- Teal page content  -->
        <h4>Insertar Preguntas</h4>
        <br>
        <br>
        <form action="/pregunta/insertarpreguntas" id='insertarpreguntas' method="post">
             
            <div class="input-field">
                <input type="text" name="tema" id="tema" class="validate" value="%(tema)s"/>
                <label for="tema">Tema:</label>
            </div>
            <div class="input-field">
                <input type="text" name="enunciado" id="enunciado" required="" value="%(enunciado)s"/>
                <label for="enunciado" >Enunciado de la pregunta:</label>
            </div>
            <div class="input-field">
                <input type="text" name="opcion1" id="opcion1" required="" value="%(opcion1)s"/>
                 <label for="opcion1">Opcion 1:</label>
            </div>
            <div class="input-field">
                <input type="text" name="opcion2" id="opcion2" required="" value="%(opcion2)s"/>
                <label for="opcion2">Opcion 2:</label>
            </div>
            <div class="input-field">
                <input type="text" name="opcion3" id="opcion3" required="" value="%(opcion3)s"/>
                <label for="opcion3">Opcion 3:</label>
            </div>
                         <div class="input-field col s12">
    <select id="respcorrecta" name="respcorrecta">
      <option value="0" >Elige una respuesta</option>
      <option value="1">a)</option>
      <option value="2">b)</option>
      <option value="3">c)</option>
    </select>
    <label>Respuesta</label>
  </div>
            <br>
            <br>
            <br>
            <button class="btn" type="submit" name="boton" id="insertar" style="float: right">Insertar Pregunta</button><td>
            <br>
            <br>
            <br>
        </form>
        
      </div>

    </div>

<div class="container">
    <div class="row">
      <div class="col s6 offset-s3 z-depth-1" id="panell">
     
</div>
</div>
</div>
<div class="error">%(errores)s</div>
<script type="text/javascript">
    
  $(document).ready(function() {
    $('select').material_select();
  });
            
</script>

  {% endblock %}