{% extends "main.html" %}

{% block content %}
<script type="text/javascript">
    
  $(document).ready(function() {
    $('select').material_select();
  });
            
</script>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            {% for p in preguntas %}
            <div class="card-panel blue lighten-3 col s12 m12">
                <span style="font-size: 16px; font-weight: bold;">Autor:</span>&nbsp;{{p.autor}}<br/>
                <span style="font-size: 16px; font-weight: bold;">Tema:</span></span>&nbsp;{{p.tema}}<br/>
                <span style="font-size: 16px; font-weight: bold;">Enunciado: </span>&nbsp;<span>{{p.enunciado}}</span><br/>
                <p style="font-size: 16px; font-weight: bold;">Opciones</p>
                  <p>a)	{{p.respuesta}}</p>
                  <p>b)	{{p.respuesta2}}</p>
                  <p>c)	{{p.respuesta3}}</p>
                <span style="font-size: 16px; font-weight: bold;"> Respuesta Correcta</span>&nbsp;<span> {{p.solucion}}</span><br/>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</div>

{% endblock %}